/* Skeleton styles */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.3s linear infinite;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: #bababa;
    }
    50% {
      background-color: #f0f0f0;
    }
    100% {
      background-color: #bababa;
    }
  }
  
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .productImgContainer {
    height: 250px; 
    width: 250px; 
    border-radius: 5px;
  }
  
  .productInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .productName,
  .productStock,
  .productPrice {
    height: 20px;
    margin: 10px;
  }
  
  .productName {
    width: 60%;
    margin: 0 auto 20px auto;
  }
  
  .productStock {
    width: 20%;
    margin: 0 auto 10px auto;
  }
  
  .productPrice {
    width: 20%;
  }
  
  .ratingContainer {
    display: flex;
    align-items: center;
    margin: 15px auto;
  }
  
  .starSkeleton {
    width: 24px;
    height: 24px;
    margin: 0 2px;
  }
  
  .priceContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 8px 2px 8px;
  }
  
  .toShoppingCartButton {
    width: 140px;
    height: 40px;
  }
  
  @media (min-width: 768px) {
    .toShoppingCartButton {
      width: 140px;
      font-size: 16px;
      padding: 11px 10px;
    }
  }
  