
.container {
    display: grid;
    grid-template-areas:
        "images   details"
        "reviews  reviews";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    padding: 20px;
  }
  
  .imageSection {
    grid-area: images;
  }
  
  .bigImage {
    border-radius: 5px;
    width: auto;
    height: 512px;
  }
  
  .imageGallery {
    display: flex;
    margin-top: 10px;
  }
  
  .imageGallery img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .detailsSection {
    grid-area: details;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 20px;
    color: #f97316;
    margin-bottom: 15px;
  }
  
  .stock {
    color: green;
  }
  
  .description {
    margin-top: 10px;
  }
  
  .reviews {
    grid-area: reviews;
    margin-top: 30px;
  }
  
  .review {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .review h4 {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  .review p {
    margin-bottom: 5px;
  }
  
  .review .rating {
    color: gold;
  }
  