/* Header Styles */
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
  }
  
  .logoTitleContainer {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: 10px;
    width: 72px;
    height: 72px;
  }
  
  .pageName {
    font-size: 24px;
    color: #391F5B;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    margin: 0 30px;
    flex: 1 1 auto;
  }
  
  .searchInput {
    margin-left: 5px;
    flex: 1 1 auto;
    padding-left: 43px;
    border-radius: 20px;
    font-size: 16px;
    background: #fbfbfb;
    border: none;
    height: 40px;
    max-width: 700px;
    outline: none;
    line-height: 40px;
    color: #000000;
  }
  
  .searchInput:focus {
    /*box-shadow: 1px 1px 6px 1px #d4d4d4 inset;*/
    border: 1px solid #391F5B;
  }

  .searchInput::placeholder {
    color: #999999;
    opacity: 0.75;
  }
  
  .searchInput::-ms-input-placeholder { /* Edge 12 -18 */
    color: #999999;
    opacity: 0.75;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .searchInput {
      padding-top: 3px;
    }
  }

  .roundedButton {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #391F5B;
    color: #391F5B;
    cursor: pointer;
    margin: 0;
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .shoppingCartButton {
    composes: roundedButton;
    margin-left: auto;
  }
  
  .loginButton {
    composes: roundedButton;
    margin-left: 15px;
    margin-right: 20px;
  }
  
  .loginButton:hover,
  .shoppingCartButton:hover {
    /*background-image: linear-gradient(#B384C9, #391F5B 50%);*/
    color: #512787;
    border-color: #512787;
  }
  
  .tooltipText {
    visibility: hidden;
    background-color: #512787;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 5px 7px 7px 7px;
    position: absolute;
    top: 125%; /* Move tooltip below the button */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    z-index: 1;
    white-space: nowrap;
  }
  
  .tooltipText::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Arrow above the tooltip */
    left: 50%;
    transform: translateX(-50%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #512787 transparent;
  }
  
  .shoppingCartButton:hover .tooltipText, 
  .loginButton:hover .tooltipText {
    visibility: visible;
    opacity: 1;
  }

  @media (min-width: 768px) {
    .loginButton,
    .shoppingCartButton {

    }
  }
  
  .icon {
    width: 26px;
    height: 26px;
    margin: 0;
    padding: 0;
  }
  
  .userIcon {
    composes: icon;
  }

  .searchIcon {
    composes: icon;
    position: absolute;
    color: #391F5B;
    margin-left: 15px;
  }
