.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  background-color: transparent;
  backdrop-filter: brightness(0.98);
  cursor: pointer;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.productImg {
  margin-top: 20px;
  border-radius: 5px;
  width: auto;
  height: 225px;
  object-fit: contain;
}

.productInfo {
  width: 100%;
  display: flex;
  margin-top: 6px;
  flex-direction: column;
  flex: 1;
}

.productName {
  font-size: 17px;
  margin: 0 25px 11px;
  text-align: center;
  height: 50px;
  overflow: hidden;
}

.productPrice {
  font-size: 22px;
  /*color: var(--color-primary);*/
  font-weight: 500;
  cursor: text;
}

.productStock {
  font-size: 13px;
  margin-bottom: 19px;
  text-align: center;
  cursor: text;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 8px 2px 8px;
}
