.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.product:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px;
}

.productImgContainer {
  height: 220px; 
  width: auto; 
  padding: 50px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImg {
  margin: 0 auto;
  border-radius: 5px;
  width: auto;
  height: 220px;
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.productName {
  font-size: 18px;
  margin: 0 25px 5px 25px;
  text-align: center;
  height: 50px;
  overflow: hidden;
}

.productPrice {
  font-size: 23px;
  /*color: #391F5B;*/
  font-weight: 500;
  cursor: text;
}

.productStock {
  font-size: 16px;
  margin-bottom: 18px;
  text-align: center;
  cursor: text;
}

.ratingContainer {
  display: flex;
  align-items: center;
  margin: 5px auto;
}

.productRating {
  margin-left: 5px;
  cursor: text;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 8px 2px 8px;
}
