/* SideMenu Styles */
  .sideMenu {
    grid-area: sidemenu;
    width: 250px;
    background-color: transparent;
  }
  
  .menuList {
    margin-top: 12px;
    margin-left: 35px;
    list-style: none;
    padding: 0px 0px;
    border-radius: 2px;
  }

  .menuList li {
    width: 100%;
    color: #391F5B;
    font-size: 17px;
    padding: 0px 0px;
  }

  .menuList li:hover {
    background: linear-gradient(to right, transparent 15%, #d9e3e3, transparent 85%);
  }

  .link {
    display: block;
    width: 88%;
    height: 27px;
    display: flex;
    align-items: center;
  }

  .activeLink {
    font-weight: bold;
    color: black;
  }

  .borderBetween {
    width: 80%;
    margin: 0px auto;
    border-image: linear-gradient(to right, transparent 0%, 28%, #391F5B 50%, 72%, transparent 100%) 1;
    border-style: thin;
    border-style: solid;
  } 

  .menuList li:last-child hr {
    display: none;
  }
