/* SideMenu Styles */
  .sideMenu {
    grid-area: sidemenu;
    width: 250px;
    background-color: transparent;
  }
  
  .menuList {
    margin-top: 12px;
    margin-left: 35px;
    list-style: none;
    padding: 0px;
    border-radius: 2px;
  }

  .menuList li {
    width: 100%;
    color: #391F5B;
    font-size: 14px;
    padding: 0px;
  }

  /*.menuList li:hover {
      background: linear-gradient(to right, transparent 15%, #DCE5E5  , transparent 85%);   
  }*/

  .link {
    display: block;
    width: 88%;
    height: 28px;
    display: flex;
    align-items: center;
    transition: font-size 0.25s linear;
  }

  .link:hover {
    font-size: 15px;
    font-weight: bold;
  }

  .activeLink {
    font-weight: bold;
    font-size: 16px;
    color: #512787;
    transition: none;
  }

  .activeLink:hover {
    font-weight: bold;
    font-size: 16px;
    color: #512787;
  }

  .borderBetween {
    width: 80%;
    margin: 0px auto;
    border-image: linear-gradient(to right, transparent 0%, 28%, #391F5B 50%, 72%, transparent 100%) 1;
    border-width: thin;
    border-style: solid;
  } 

  .menuList li:last-child hr {
    display: none;
  }
